body, html {
    margin: 0;

    line-height: 2;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Oxygen';
    text-align: center;

    width: 100%;

    position: absolute;
    top: 0;
}

a {
    color: black;
}

body {
    background-color: #F7F7F7;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


#maincontainer {
    margin: 0 auto;
}

#setname {
    margin-top: -20vh;

    text-align: center;
    width: 80vw;
}

#setname select {

    width: 60vw;
    padding: 20px;

    margin: 0 auto;
    font-size: 100%;
    line-height: 2;
}


#output {
    display: flex;
    flex-direction: column;

    width: 300px;
}

#output #title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#output #title #h3 {
    margin: 20px 0;

}

#date-container {
    display: flex;
    justify-content: space-between;
}

#subject-container {
    display: flex;
    justify-content: space-between;
}

#output #cancel {
    margin: 20px 0;
    cursor: pointer;
}

#date {
    margin: 20px 0;
}

#next, #prev {
    cursor: pointer;
    font-size: 200%;
}
